<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2013</key>
	<array>
		<string> January 01</string>
		<string> March 29</string>
		<string> April 01</string>
		<string> May 06</string>
		<string>May 27</string>
		<string>August 26</string>
		<string> December 25</string>
		<string> December 26</string>
	</array>
	<key>2014</key>
	<array>
		<string> January 1</string>
		<string>April 18</string>
		<string>April 21</string>
		<string> May 05</string>
		<string>May 26</string>
		<string>August 25</string>
		<string>December 25</string>
		<string>December 26</string>
	</array>
	<key>2015</key>
	<array>
		<string> January 1</string>
		<string>April 03</string>
		<string>April 06</string>
		<string>May 04</string>
		<string>May 25</string>
		<string>August 31</string>
		<string>December 25</string>
		<string>December 28</string>
	</array>
</dict>
</plist>
